.main-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--sm);
}

.database-input-set {
    grid-column: 1 / 3;
}

#ConnectBtn {
    grid-column: 1 / 3;
    width: max-content;
}

#ConnectionStatusLb {
    grid-column: 1 / 3;
    font-size: var(--sm);
}